# Environment variables (Secrets)
.env

# Airflow
logs/
plugins/__pycache__/
airflow.db
standalone_admin_password.txt

# dbt
dbt_packages/
target/
profiles.yml
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.pytest_cache/

# Docker volumes (if mapped locally)
postgres-data/
minio-data/
redis-data/

# Windows/OS files
Thumbs.db
Desktop.ini
.DS_Store

# IDEs
.vscode/
.idea/
